.commit-vpg {

  .modal-content{
    width:400px;
  }
  .modal-body {
    background-color: white;
    padding-bottom: 5px;
  }

    .tooltip-keep-source-vms-element{
        position: absolute;
        width: 100px;
        height: 20px;
    }
}
