
.vra-install-modal{
  .modal-body{
    background-color: white;
  }

  .modal-content{
    width: 500px;
  }

  .checkbox-align{
    margin-top:4px;
  }

  .create-group-btn{
    height: 24px;
    padding: 2px 12px;
  }

  .amount-ram-label{
      padding: 3px 0 0 9px;
      position: absolute;
  }
}
