.vra-edit-modal {
    .modal-body {
        background-color: white;
    }

    .modal-content {
        width: 500px;
    }

    .checkbox-align {
        margin-top: 4px;
    }

    .create-group-btn {
        height: 24px;
        padding: 2px 12px;
    }

    .vib-label {
        padding: 0;
        top: 3px;
        right: 10px;
    }

    .password-label {
        margin-top: 5px;
        font-size: 10px;
    }
}
