.offsite-backup {

    .active .tab-content {
        opacity: 1;
    }

    .tab-content {
        opacity: 0.4;
        color: black;
        font-size: 15px;
        position: relative;
        top: 15px;
        right: -15px;
        text-align: center;
        padding: 0 10px;
        .separator {
            color: #a9abaf;
            font-weight: normal;
            position: absolute;
            right: -3px;
            top: 0;
        }
        small {
            display: block;
            font-size: 10px;

        }
    }

    .progress-span {
        padding-left: 20px;
    }

    @mixin offsite-icon-base($path) {
        background-repeat: no-repeat;
        background-position: 2px 2px;
        background-image: url($path);
    }

    .offsite-running-icon {
        @include offsite-icon-base('../assets/offsitebackup/play_icon.png');
    }

    .offsite-scheduled-icon {
        @include offsite-icon-base('../assets/offsitebackup/clock_icon.png');
    }

    .offsite-inactive-icon {
        @include offsite-icon-base('../assets/offsitebackup/noentry_icon.png');
    }

    .offsite-aborting-icon {
        @include offsite-icon-base('../assets/offsitebackup/aborting_icon.png');
    }
}
