.restore-nics {
  .modal-dialog {
    width: 980px;
  }
  .modal-body {
    background-color: white;
    padding: 10px 10px;
  }
  .restore-nics-grid {
    height: 300px;
  }
  .btn-group {
    width: 100%;
  }
}