.vpg-list {

    @mixin button-icon-base-class($path, $pathHover, $pathClicked) {
        background-image: url($path);
        background-repeat: no-repeat;
        background-position: center;
        border: transparent;
        background-color: transparent;
        //width: 6px;
        //height: 6px;

        position: absolute;
        display: block;
        margin-left: -3px;

        top: 50%;
        margin-top: -10px;

        &:hover {
            border: transparent;
            background-image: url($pathHover);
        }
        &:active {
            background-image: url($pathClicked);
        }
        &:focus {
            outline: none;
        }
    }

    .stop-vpg-btn {
        @include button-icon-base-class('../assets/tasks/stop-btn-list.png', '../assets/tasks/stop-btn-list-hover.png', '../assets/tasks/stop-btn-list-clicked.png');
        width: 20px;
        height: 20px;
    }

    .resume-vpg-btn {
        @include button-icon-base-class('../assets/tasks/play-button-dark.png', '../assets/tasks/play-button-hover.png', '../assets/tasks/play-button-clicked.png');
        width: 20px;
        height: 20px;
    }

    .rollback-btn {
        @include button-icon-base-class('../assets/tasks/rollback-btn-list.png', '../assets/tasks/rollback-btn-list-hover.png', '../assets/tasks/rollback-btn-list-clicked.png');
        width: 20px;
        height: 20px;
    }

    .commit-btn {
        @include button-icon-base-class('../assets/tasks/commit-btn-list.png', '../assets/tasks/commit-btn-list-hover.png', '../assets/tasks/commit-btn-list-clicked.png');
        width: 20px;
        height: 20px;
    }

    .float-vpg-list-button {
        margin: 0;
        top: 2px;
        right: 3px;
        left: auto;
    }

    .float-vpg-list-second-button {
        margin: 0;
        top: 2px;
        right: 23px;
        left: auto;
    }

    .backup-status {
        display: none;
    }

    .slick-header-menu .backup-status {
        display: block;
    }

}

.tco-container{
    position: fixed;
    top: 200px;
    right: 250px;
    z-index: 3000;
    border: 1px solid black;
    width: 300px;
    height: 340px;
    background-color: white;
}

.migrate-dr{
    margin-bottom: 10px;
    position: relative;
    left: 100px;
}
.migrate-dr-close{
    margin-bottom: 10px;
    position: relative;
    left: 150px;
}
