<div class="grid-view-selector">
    <div class="grid-filters" ng-show="views.length > 0">
        <span class="grid-filters-views">{{'VIEWS' | translate}}:</span>

        <div class="grid-filters-tab-container">
            <label class="grid-filters-tab" ng-repeat="view in views | limitTo: numOfViews track by view.id"
                   ng-class="{'active': view.id===selectedView.id}"
                   ng-click="selectView(view)">{{view.text}}
                <a class="grid-filters-close" ng-click="closeView(view)" ng-if="view.isUserDefined">x</a>
            </label>
        </div>
        <!-- vies drop down -->
        <button ng-if="views.length > numOfViews" class="show-all-view btn btn-xs" data-toggle="dropdown"><img src="assets/grid_icons/3-dot.gif"></button>
        <ul class="dropdown-menu dropdown-white pull-right">
            <li ng-repeat="view in views track by view.id" ng-if="$index > (numOfViews - 1)" ng-click="selectView(view)">
                <a class="btn btn-link">{{view.id}}</a>
            </li>
        </ul>
    </div>
</div>
