.remoteSupportModal {

    .modal-body {
        background-color: white;
        height: 120px;
    }

    .modal-content {
        width: 420px;
    }

    .old-settings {
        padding-bottom: 15px;
    }
}
