.base-static-window.login {
    .login-form {
        width: 400px;
        position: absolute;
        left: 70px;
        top: 125px;

        .z-checkbox-fix {
            padding-left: 11px;
        }

        .help-icon {
            color: #BBBBBB;
            border-color: #BBBBBB;
        }
    }

}


