.create-vpg-recovery {
    
    .copy-nat-service {
        padding-left: 24px;
    }

    .default-settings {
        height: 72px;
    }

    .copy-nat-service-select {
        margin-top: 3px;
    }

    .select2-results {
        max-height: 95px;
    }
}
