.modal-vra-change-password {
  .modal-body {
    background-color: white;
  }

  .modal-content {
    width: 500px;
  }

  .checkbox-align {
    margin-top: 4px;
  }
    .vib-label{
        padding: 0;
        top: 3px;
        right: 10px;
    }
}
