<base-modal-window modal-title="{{'SITE_SETTINGS.CLOUD_SETTINGS.CONFIGURE_PROVIDER_VDCS.TITLE' | translate}}"
                   btns="buttons"
                   close="handleCancel" loading="loading" help="configureProviderVdc">
    <div>
        <script type="text/ng-template" id="select.html">
            <div class="modal-header" draggable>
                <div class="modal-header-inner">
                    <h4 class="pull-left">Select</h4>

                    <div class="pull-right modal-buttons-header">
                        <button type="button" class="z-close" ng-click="cancel()" aria-hidden="true">&nbsp;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <z-slick-grid id="selectGrid" grid-id="selectGrid"
                                          data="data" class="select-provider-vdc-grid" hide-view-options="true"
                                          custom-options="customOptions" selected-items="selectedItems"
                                          on-selection="selectionChange"></z-slick-grid>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link" ng-click="cancel()">{{'MODAL.CANCEL' | translate}}</button>
                <button class="btn z-btn-default" ng-click="save()" ng-disabled="!isSaveButtonEnabled">{{'MODAL.SAVE' |
                    translate}}
                </button>
            </div>
        </script>

        <div class="configure-vdc--container">
            <div class="configure-vdc--grid">
                <z-slick-grid id="providerVdcs" grid-id="providerVdcs" grid="gridObj.providerVdcsGrid"
                              data="configureProviderVdcFactory.currentProviders" class="configure-provider-vdc-grid"
                              custom-options="providerVdcsCustomOptions" selected-items="providerVdcsSelectedItems"
                              on-selection="providerVdcsSelectionChange" hide-view-options="true" ></z-slick-grid>
            </div>
            <div class="configure-vdc--buttons">
                <input type="button" class="btn add-remove-button" ng-disabled="!potentialProviders.length"
                       value="Add" ng-click="handleAddProvider()"/>
                <input type="button" class="btn add-remove-button" ng-disabled="!isRemoveProviderEnable"
                       value="Remove" ng-click="handleRemoveProvider()"/>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h5>{{'SITE_SETTINGS.CLOUD_SETTINGS.CONFIGURE_PROVIDER_VDCS.PROVIDER_DATASTORE_TITLE' |
                        translate}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <z-radio name="UseOnlyGroup" value="true" model="data.UseOnly">
                        {{'SITE_SETTINGS.CLOUD_SETTINGS.CONFIGURE_PROVIDER_VDCS.USE_FOR_REPLICATION'| translate}}
                    </z-radio>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <z-radio name="UseOnlyGroup" value="false" model="data.UseOnly">
                        {{'SITE_SETTINGS.CLOUD_SETTINGS.CONFIGURE_PROVIDER_VDCS.USE_FOR_NOT_REPLICATION'| translate}}
                    </z-radio>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label>{{'SITE_SETTINGS.CLOUD_SETTINGS.CONFIGURE_PROVIDER_VDCS.TEXT'| translate}}</label>
                </div>
            </div>
        </div>
        <div class="configure-vdc--container configure-vdc--container__spaced">
            <div class="configure-vdc--grid">
                <z-slick-grid id="providerDatastore" grid-id="providerDatastore" grid="gridObj.providerDatastoreGrid"
                              data="configureProviderVdcFactory.currentDatastores"
                              class="configure-provider-vdc-grid"
                              custom-options="datastoreCustomOptions" selected-items="datastoreSelectedItems"
                              on-selection="providerDatastoreSelectionChange" hide-view-options="true" ></z-slick-grid>
            </div>
            <div class="configure-vdc--buttons">
                <input type="button" class="btn add-remove-button" ng-disabled="!potentialDatastores.length"
                       value="Add" ng-click="handleAddDatastore()"/>
                <input type="button" class="btn add-remove-button" ng-disabled="!isRemoveDatastoreEnable"
                       value="Remove" ng-click="handleRemoveDatastore()"/>
            </div>
        </div>
    </div>


</base-modal-window>
