[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

$width: 860px;
$height: 450px;

body {

    button:focus {
        outline: 0 !important;
    }

    background: #e4e4e4;
    color: #595959;
    height: 100%;
    width: 100%;
    min-width: $width;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;

    .user-ie-version-indicator-class {
        border: 2px solid red;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
    }
}

a {
    outline: 0 !important;
}

html {
    height: 100%;
    width: 100%;
    min-width: $width;
}

.inline-site-settings {
    display: none;
}

.iframeAppContainer {
    padding-top: 0px !important;
    background-color: #ffffff;

    .inline-site-settings {
        display: inline;
    }
}

.inline-alerts-and-tasks-links {
    display: inline;
}

.portalContainer {
    padding-top: 0px !important;

    .inline-alerts-and-tasks-links {
        display: none;
    }
}

.appContainer {
    width: 100%;
    height: 100%;
    min-width: $width;
    position: relative;
    display: block;
}

.min-dims {
    //-------- set size after calculate for current scroll 1024 x 768 page size
    min-width: 1024px;
    min-height: 601px;
}

textarea {
    background-color: #F6F6F7;
    border: 1px solid #7C8289;
    width: 100%;
    height: 50px;
    border-radius: 0px;
    box-shadow: none;
    resize: none;
    outline: none;
    padding: 0 5px;
    &:hover {
        background-color: #DDDDDF;
    }
    &:focus {
        background-color: #FFFFFF;
    }
    &[disabled="disabled"] {
        border-color: #CFCFCF;
        background-color: #EFF0F1;
    }
}

.base-static-window {
    width: 100%;
    background-color: #36353a;
    color: white;
    background-image: url("../assets/login/login-bg-pattern.png");
    background-repeat: repeat-x;
    top: 0px;
    bottom: 0px;
    position: absolute;

    input[type="text"], input[type="password"] {
        color: #595959;
        font-family: "Open Sans", sans-serif;
    }

    .version {
        position: absolute;
        right: 17px;
        bottom: 17px;
        font-weight: normal;
    }

    .center-container {
        display: block;
        width: 550px;
        height: 320px;
        position: absolute;
        background-color: #55585e;
        border-top-color: #ca000a;
        border-top-style: solid;
        border-top-width: 10px;
        top: 50%;
        left: 50%;
        margin-left: -275px;
        margin-top: -175px;

        .logo {
            width: 413px;
            height: 45px;
            position: absolute;
            left: 36px;
            top: 45px;
            display: inline-block;
            background-image: url("../assets/login/logo.png");
        }
    }
}

.divider {
    height: 10px;
}

.z-white-btn-group > span {
    float: left;
    font-size: 13px;
    padding-top: 3px;
}

.help-icon {
    width: 12px;
    height: 12px;
    border-left: 1px solid #5485d9;
    border-right: 1px solid #5485d9;
    display: inline-block;
    text-align: center;
    color: #5485d9;
    left: 5px;
    cursor: help;
    position: relative;
    font-size: 11px;
    line-height: 100%;
    pointer-events: all;

}

.form-h4 .help-icon {
    top: 0px;
}

#mainViewController .viewContainer.full-screened {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0px;
    top: 0px;
    background-color: #e6e8e9;
}

.static-page {
    .center-container {
        height: 200px;
        margin-top: -100px;
    }

    h3 {
        margin-left: 35px;
        margin-top: 110px;
    }

    a {
        color: #cf000a;
    }
}

.markBorderToRed {
    border-color: red !important;
}

.overflowEllipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.status-widget {
    h4 {
        font-size: 12px;
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
    }
    label {
        width: 100%;
        font-weight: bold;
    }
}

.login-icon-container {
    width: 262px;
    background-image: url('/cloudLogoLogin.png');
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;

    .login-icon {
        background-image: url('/cloudLogoLogin.png');
    }
    label {
        position: absolute;
        left: 210px;
        top: 26px;
        font-size: 20px;
        border-left: 1px solid #ccc;
        padding-left: 15px;
        height: 50px;
        padding-top: 10px;
    }
}

.mouse-help {
    cursor: help;
}

.mouse-pointer {
    cursor: pointer;
}

.global-list-item {
    padding-left: 120px;
    position: relative;
    height: 27px;
    width: 100%;
    .col {
        height: 100%;
        padding: 5px 5px 0 5px;
    }

    .col-1 {
        width: 120px;
        position: absolute;
        left: 0;
    }
}

.alerts-list-item {
    .col-1 {
        padding-left: 25px;
    }
    .col-2 {
        width: 100%;
        position: relative;
    }

    .alert-icon {
        background: transparent no-repeat scroll left center;
        &.alert-icon-1 {
            background-image: url('../assets/small_status_icons/small-error-icon.gif');
        }

        &.alert-icon-0 {
            background-image: url('../assets/small_status_icons/small_icon_warning.png');
        }
    }

}

.tasks-list-item {
    padding-right: 125px;

    @media only screen and (max-width: 1366px) {
        padding-right: 90px;
    }
    .col-2 {
        width: 100%;
        a {
            text-transform: none;
            color: #607A9F !important;
            padding-right: 4px !important;
            font-weight: normal !important;
            &:hover, &:active {
                color: #20477c;
                text-decoration: underline;
            }
        }

        label {
            width: auto !important;
            font-weight: normal !important;
        }
    }
    .col-3, .col-4 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .col-3 {
        width: 125px;
        &.col-progress {
            padding-left: 35px;
            label {
                position: absolute;
                left: 3px;
                top: 4px;
                width: 30px !important;
                text-align: left;
            }
        }
    }

    .col-4 {
        width: 63px;
        display: none;
    }

    &.tasks-list-item-show-buttons {
        padding-right: 185px;
        @media only screen and (max-width: 1366px) {
            padding-right: 145px;
        }
        .col-3 {
            right: 63px;
        }
        .col-4 {
            display: block;
            button {
                top: 4px;
                margin-top: 0;
            }
        }
    }

    @media only screen and (max-width: 1366px) {
        .col-3 {
            width: 90px;
            &.col-progress {
                padding-left: 5px;
                label {
                    display: none;
                }
            }
        }
    }

}

.events-list-item {
    padding-left: 220px;
    label {
        width: 100% !important;
        font-weight: normal !important;
    }
    .col-2 {
        position: absolute;
        left: 120px;
        top: 0;
        width: 100px;
    }
    .col-3 {
        width: 100%;
    }
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row--double-margin {
    margin-left: -15px;
    margin-right: -15px;
}
