.select-vpg-popup {
    .modal-dialog {
        width: 800px;
    }
    .modal-body {
        background-color: white;
        padding: 10px;
    }

    .select-vpg-grid {
        height: 400px;
    }
}
