.create-vpg-style {

    .tooltip-invalid {
        max-width: 400px;
        .tooltip-invalid-inner {
            max-width: 400px;
        }
    }

    .journalHistoryStepper {
        height: 26px;
    }

    .z-wizard-body {
        min-height: 410px;
    }

    .panel {
        margin-bottom: 0px;
    }

    .hr-space {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    //show hide ui-select arrow by vApp edit/create mode
    .selected-vms-edit-mode-arrow .select2-container .select2-choice .select2-arrow {
        display: none;
    }

    .modal-dialog {
        width: 1027px;
    }
    .modal-body {
        padding: 2px 10px;
    }
    .modal-footer {
        height: 0px;
        padding: 0px;
    }

    .bottom-space {
        padding-bottom: 0;
    }

    .step-desc {
        padding: 2px 10px 2px 10px;
        font-weight: bold;
    }

    .backup-free-space-box {
        position: relative;
        top: 4px;
        width: 8px;
        height: 8px;
        background-color: #add187;
        display: block
    }
    hr {
        border-top: 1px solid #dadcde;
        margin: 10px 0;
    }

    label, p, b {
        padding-right: 5px;
        color: #444545;
    }

    .row {
        color: #989a9d;
    }
    .blocked-view {
        opacity: 0.5;
    }

    .vertical-separator {
        border-right: solid 1px $gray-light;
    }

    .vertical-line-right {
        padding-left: 30px;
    }

    .at-pos {
        top: 4px;
        float: left;
        width: 16px;
        line-height: 26px;
        margin-left: -2px;
    }
    .backup-used-space-box {
        position: relative;
        top: 4px;
        width: 8px;
        height: 8px;
        background-color: #e1e1e5;
        display: block
    }

    .backup-pie {
        display: block;
        margin: -7.5px -7.5px;
    }

    .backup-wait-label {
        padding: 5px 0 0 0;
    }

    .check-post-back-scripts-label {
        position: absolute;
        top: 4px;
        left: 30px;
    }

    .vcd-nic-edit-btn {
        position: absolute;
        right: 43px;
        top: 50px;
    }
    .nics-grid {
        height: 360px;
    }

    .storage-volumes-grid {
        height: 335px;
    }

    .storage-volumes-bottom {
        line-height: 40px;
    }

    .mapping-grid {
        height: 160px;
        padding-top: 0;
    }

    .z-form {
        .separator-div {
            border-top: solid 1px $gray-light;
        }
    }

    .z-btn-default-sm {
        height: 26px;
        padding-top: 2px;
        &:hover {
            border-color: #3c454f;
        }
    }
    .z-white-btn-group {
        z-index: 2;
    }
    .vpg-wizard-vm-settings-btn {
        height: 30px;
        font-size: 15px;
        text-transform: uppercase;
        padding: 0 11px;
        width: auto;
        float: right;
    }

    .vmSettingsInvalidJournal {
        border: 1px solid rgb(207, 0, 10);
    }

    .vpg-wizard-vm-settings-label {
        float: right;
        color: #cf000a;
        width: 140px;
        text-align: center;
        padding: 5px 0px;
    }

    .vpg-text-ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .vpg-wizard-summary-vms {
        border: 1px solid #ccc;
        padding: 0 10px;
        max-height: 330px;
        overflow-y: auto;
        li {
            list-style: none;
            padding: 5px;
            height: 33px;
            border-bottom: 1px solid #ccc;
            &:last-child {
                border: 0;
            }
            b, label {
                display: block;
                position: relative;
                float: left;

            }
            label {
                width: 68%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            b {
                width: 30%;
                text-align: right;

            }
        }
    }
    .vpg-wizard-summary-total {
        padding-top: 5px;
    }
    .div-text-sec {
        vertical-align: top;
        padding-top: 3px;
        display:inline-block;
    }

    .no-wrap {
        white-space: nowrap;
    }

    .editor-ip-info {
        min-height: 105px;
        text-align: left;
        font-weight: bold;
        white-space: normal;
    }
    .editor-ip-none {
        min-height: 20px;
        text-align: left;
        font-weight: bold;
        white-space: normal;
    }

    .form-group-public-cloud {
        margin-bottom: -7.5px;
    }
    .recovery-hr {
        margin-bottom: 3px;
    }
}

.entities-view {
    height: 95px;
    position: relative;

    .entities-view-direction {
        width: 23px;
        height: 23px;
        background: transparent url("../assets/vpg_wizard/arrow_right.png") no-repeat center;
        position: absolute;
        left: 66px;
        top: 20px;
    }

    .entities-item {
        position: relative;
        width: 49px;
        height: 44px;
        float: left;
        &.entities-item-vc {
            background: transparent url("../assets/vpg_wizard/entity-vc.png") no-repeat center;
        }
        &.entities-item-vcd {
            background: transparent url("../assets/vpg_wizard/entity-vcd.png") no-repeat center;
        }
        &.entities-item-aws {
            background: transparent url("../assets/vpg_wizard/entity-public.png") no-repeat center;
        }
        &.entities-item-azure {
            background: transparent url("../assets/vpg_wizard/entity-azure.png") no-repeat center
        }
        &.entities-item-hyper-v {
            background: transparent url("../assets/vpg_wizard/entity-hyperv.png") no-repeat center;
        }
        &.entities-item-source {

        }
        &.entities-item-target {
            margin-left: 70px;

        }

        b {
            position: absolute;
            top: 70px;
            left: -90%;
            width: 270%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
        }
    }

    :first-child b {
        left: -100%;
    }

    .check-post-back-scripts label span.ng-binding {
        position: absolute;
        left: 30px;
        top: 4px;
    }
}

.z-inline-editor.z-inline-editor-journal-config {
    width: 340px;
    text-align: left;
}

.z-inline-editor-ip-config {
    text-align: left;
    width: 280px;
    input[type="text"] {
        line-height: 100%;
        width: 140px;
    }
    select {
        width: 140px;
    }
    label {
        width: 120px;
    }
}

.select-ui-priority {
    background: transparent no-repeat left center;
    padding-left: 35px;
}

.select-ui-priority-Low {
    background-image: url("../assets/list_icons/priority-low.png");
}

.select-ui-priority-Medium {
    background-image: url("../assets/list_icons/priority-midium.png");
}

.select-ui-priority-High {
    background-image: url("../assets/list_icons/priority-high.png");
}
